*{
    box-sizing: border-box;
}
#login-heading{
    font-size:40px;
    font-weight: bold ;
    font-family: 'Courier New', Courier, monospace;
    color:grey;
 }
#login-body{
    width: 100%;
    text-align: center;
    align-items: center;
    
   
}
#login-form{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
	margin-top:17px;
	width:355px;
	height:400px;
    padding-top:40px;
	background:#f7f7f7;
	box-shadow: 0px 1px 1px 1px #c6c1c1;

}
#login-icon{
    border-radius: 50%;
    display: block;
   
}
#email{
	width:270px;
	height:42px;
	border-radius:5px 5px 5px 5px;
	background:white;
	font-size:18px;
	margin-top:20px;
	border-width: 1px;
	border-style:solid;
	border-color: grey;
}
#password{
    width:270px;
	height:42px;
	border-radius:5px 5px 5px 5px;
	background:white;
	font-size:18px;
	margin-top:10px;
	border-width: 1px;
	border-style:solid;
	border-color: grey;

}
#login{
    width:270px;
	height:35px;
	margin-top:20px;
	background:#498af2;
	font-family:verdana;
	font-size:14px;
	color:white;
	border-radius:5px 5px 5px 5px;
	border-width: 1px;
	border-style:solid;
	border-color: gray;
	cursor:pointer;
	outline:none;
}
#logout{
    margin-left:65%;
    width:60px;
	height:25px;
	margin-top:20px;
	background:#498af2;
	font-family:verdana;
	font-size:14px;
	color:white;
	border-radius:5px 5px 5px 5px;
	border-width: 1px;
	border-style:solid;
	border-color: gray;
	cursor:pointer;
	outline:none;

}